---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
---

<MainLayout>
  <img class="ansog_billede" src="/ansog_billede.jpg" alt="To kvinder" />
<div class="tekst_container">
  <h2>Vil du være med i SUBURBANGIRLS 2024?</h2>
<p><strong>SÅDAN SØGER DU</strong><br>For at ansøge om at være en del af det nye SUBURBANGIRLS hold skal du udfylde det vedhæftede ansøgningsskema, som du finder længere nede ved “Ansøg nu”, hvor du hvor du fortæller lidt om dig selv og om dit liv med musik.</p>
<p>Når du har sendt din ansøgning vil du modtage en ‘Tak for din ansøgning’ mail retur. Får du ikke den, så er det ikke sikkert vi har modtaget din ansøgning.</p>
<p>Har du spørgsmål eller ønsker mere information. Skriv på projektets mail: suburbangirlsdk@gmail.com</p>
</div>

<img class="forsidebillede2" src="/ubg.webp" alt="billede af sub" />
  <div class="ansog_tekst_box1">
  <div class="ansog_tekst_box2">
    <p>DEADLINE D. 30.11.24</p>
    <p>Kickstart din karriere!</p>
      <button class="button_ansog2">Ansøg nu</button>
  </div>
  <div class="logo_container2">
  <img class="logo2" src="/logo.svg" alt="logo" /></div>
</div>
</MainLayout>
<style>
    .ansog_billede{
    width: 100%;
  height: auto;
  margin-bottom: 5%;
  }
  .tekst_container{
    margin-left: 5%;
    margin-right: 5%;
  }
.forsidebillede2 {
    object-fit: cover; /* Scale and crop */
    object-position: 80% center;
    width: 100%;
    height: 70vw;
    margin-top: -5vw;
    transform: scaleX(-1); /* Flipper billedet vandret */
}



.logo_container2{
display: flex;
justify-content: left;
margin-left: 1vw;
}

.bioboks {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 32rem;
    background:var(--green);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
</style>