---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
---

<MainLayout>
  <!-- <img src="https://placehold.co/1420x400/png" alt="" /> -->
  <h1>Deltagerne 2024</h1>
  <section class="top_grid">
    <figure>
      <img src="public/mentor/karen.webp" alt="my_photo" />
      <figcaption>2024</figcaption>
      <img
        class="tape tape-top-left"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
      <img
        class="tape tape-bottom-right"
        src="public/deltager/lille_tape.webp"
        alt=""
      />
    </figure>
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/artist/0P0xnSm6cTBPpAQPY78oHN?utm_source=generator"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </section>

  <div class="button-container">
    <button class="button" id="button">Se deltagerne +</button>
  </div>
  <section class="grid1">
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_1.webp" alt="" />
      <div class="content fade">
        <h2>lili</h2>
        <br />
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Marie</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_3.webp" alt="" />
      <div class="content fade">
        <h2>Anna</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_5.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_7.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_8.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_9.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_10.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_11.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_4.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_2.webp" alt="" />
      <div class="content fade">
        <h2>Marie</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
    <div class="image_wrapper">
      <img class="hidden" src="public/deltager/delt_6.webp" alt="" />
      <div class="content fade">
        <h2>Anden person</h2>
        <a href=""><img src="public/svger/instagram.svg" alt="" /></a>
      </div>
    </div>
  </section>
  <img style="width: 100%;" src="public/paper-texture_pink_01.gif" alt="" />

  <div id="pink_baggrund">
    <h1>Deltagerne 2023</h1>
    <section class="top_grid">
      <figure>
        <img src="public/mentor/karen.webp" alt="my_photo" />
        <figcaption>2024</figcaption>
      </figure>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/artist/0P0xnSm6cTBPpAQPY78oHN?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </section>
  </div>
</MainLayout>

<style>
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 800px) {
    .grid1 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .top_grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-top: 50px;
    }
    .top_grid figure {
      order: 2; /* Set order for the figure */
    }

    .top_grid iframe {
      order: 1; /* Set order for the iframe */
    }
  }

  .button-container {
    display: flex;
    justify-content: left; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    /* Får containeren til at fylde hele højden af viewporten */
  }

  .button {
    border: none;
    /* border-width: medium;
    border-color: #f499b8;
    border-radius: 10px; */
    background-color: #d9d9d9;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    /* margin-top: 50px; */
    margin-bottom: 10px;
    cursor: pointer;
  }
  #pink_baggrund {
    background-color: #f499b8;
    margin: 0%;
    position: relative;
    top: -10px;
    height: auto;
  }

  figure {
    width: 336px;
    height: 403px;
    position: relative;
    background-color: #ffffff;
    padding: 19px 19px 55px 19px;
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.42);
    rotate: 10deg;

    /* Tilføj disse regler for at centrere figuren */
    margin: 0 auto; /* Centrer vandret */
    margin-bottom: 60px;
    margin-top: 30px;
    display: flex; /* Brug flexbox */
    flex-direction: column; /* Stak elementerne lodret */
    justify-content: center; /* Centrer indholdet lodret */
    align-items: center; /* Centrer indholdet vandret */
  }
  figure img {
    width: 100%;
  }
  figcaption {
    font-size: 25px;
    text-align: center;
    color: #2c2c2c;
  }
  figure .tape {
    position: absolute;
    width: 13%; /* Adjust size as needed */
    height: 36%; /* Adjust size as needed */
  }

  .tape-top-left {
    top: -39px;
    left: 5px;
    transform: rotate(40deg);
  }

  .tape-bottom-right {
    bottom: -52px;
    right: -1px;
    transform: rotate(40deg);
  }
  /* galleri*/

  .grid1 img {
    display: none;
  }

  .image_wrapper {
    position: relative;
    overflow: hidden;
  }

  .image_wrapper > img {
    display: block;
    width: 100%; /*gør at billederne udfylder hele deres grid*/
    aspect-ratio: 1/1; /* gør at billederne bliver retankler*/
    object-fit: cover; /*gør at alle billeder fylder lige meget*/
    object-position: center;
  }

  .image_wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    background: rgba(244, 153, 184, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .image_wrapper > .content,
  .image_wrapper > img {
    transition: 200ms ease-in-out;
  }

  .image_wrapper:hover > .content.fade {
    opacity: 1;
  }
</style>

<script>
  function toggleImages() {
    var images = document.querySelectorAll(".grid1 img");
    images.forEach(function (image) {
      if ((image as HTMLElement).style.display === "none") {
        (image as HTMLElement).style.display = "block";
      } else {
        (image as HTMLElement).style.display = "none";
      }
    });
  }

  document.getElementById("button").addEventListener("click", toggleImages);
</script>
