---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
---

<MainLayout>
  <h1>Vores forløb</h1>
  <p>SUBURBANGIRLS er for dig der elsker hiphop, RnB og lignende genrer, dig der savner et sted til at realisere dine drømme og ideer og dig der ved du skal ud i verden.</p>

  <div class="post-it-green">
    <h2>HVORFOR?</h2>
    <p></p>
  </div>

  <p>Det et eksklusivt og forpligtende talent- og karriereforløb for kvinder der ønsker at træde ind i musikbranchen. Du vil møde erfarne kunstnere, sangskrivere og producere, som du vil kunne spare med. Du vil derudover blive klogere på musikbranchens virke. Vores karriererådgivning guider dig til at skabe din egen succes i musikverdenen. </p>

  <p>Du bliver en del af et trygt og styrkende fællesskab, hvor du får mulighed for at udvikle dine færdigheder. Det vigtigste kriterie for en plads på forløbet er dit talent, din motivation og dine ambitioner - erfaring er ikke et krav, men heller ingen hindring.</p>
</MainLayout>
