---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
import Samarbejds from "../components/Samarbejds.astro";
---

<MainLayout>
<div class="forsidebillede_container">
    <div class="billede-wrapper">
        <img src="/forsidebillede.png" alt="forside billede" class="forsidebillede">
        <div class="tekst-overlay">
         <p>KICKSTART DIN KARRIERE</p>
    <p>MED VORES TALENTFORLØB</p>
    <button>Ansøg nu</button>   
        </div>
    </div>
</div>


    <div class="logo_container">
    <img class="logo" src="/logo.svg" alt="logo" /></div>
    <p class="forside_p">SUBURBANGIRLS er et musikfællesskab, hvor du kan udvikle dine færdigheder og få indsigt i musikbranchen gennem møder med erfarne sangskrivere, producere og kunstnere. Her får du professionel vejledning og karriererådgivning fra brancheeksperter, samt muligheden for at opbygge et stærkt netværk af ligesindede kunstnere. SUBURBANGIRLS vil gerne ændre kønsbalancen i musikbranchen.</p>
    <img class="forsidebillede2" src="/forside2.jpg" alt="billede af sub" />

    <video controls class="video">
        <source src="/promovideo.mp4" type="video/mp4">
    </video>


<div class="lyserod_container">

    <img class="forsidebillede3" src="/lyserødbag.jpg" alt="lyserød baggrund" />


    <div class="forside_box_container">
    <div class="hvid_box">
        <p><strong>ANSØGNINGSFRIST</strong><br>30. NOVEMBER 2023</p
        <button class="button_ansog">Ansøg nu</button>
</div>

<div class="gron_box">
    <p>INFO-EVENT ONLINE<br>21. NOVEMBER KL. 19.00</p
    <button class="button_link">LINK</button>
</div>

</div>
</div>
<p class="lort">L</p>
</MainLayout>

<style>
.forsidebillede_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Billedet */
.billede-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.forsidebillede {
    width: 100%;
    height: auto;
    display: block; */
}
.forsidebillede2 {
    width: 100%;
    height: auto;
    display: block; */
}
.forsidebillede3 {
    width: 100%;
    height: auto;
    display: block; */
}



/* Tekst overlay */
.tekst-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Venstrejuster elementer */
    color: rgb(255, 255, 255);
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* margin-right: -90vh; */
}




.logo_container{
display: flex;
justify-content: center;
margin-top: 1vw;
}

.forside_p{
margin-left: 10vw;
margin-right: 10vw;
margin-top: 3vw;
margin-bottom: 8vw;
}


.video {
    width: 100%; /* Gør videoen responsiv og fylder sin container */
    max-width: 800px; /* Sæt en maksimal bredde for videoen */
    height: auto; /* Behold den originale højde-bredde-forhold */
}




/***lyserød forside box */
.lyserod_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.forside_box_container{
display: flex;
flex-direction: row;
position: absolute;
}
.hvid_box {
    display: flex;
    /* position: absolute; */
    padding-right: 1rem;
    padding-left: 1rem;
    width: 10rem;
    background:white;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.button_ansog {
    background-color:transparent; /* Ingen fyld */
    border: 2px solid #000; /* Sort kant */
    color: #000; /* Sort tekst */
    padding: 10px 20px; /* Indvendig margen for at gøre knappen større */
    font-size: 16px; /* Tekststørrelse */
    cursor: pointer; /* Ændrer cursoren til en hånd */
    border-radius: 4px; /* Lidt afrundede hjørner */
    transition: background-color 0.3s, color 0.3s; /* Glat overgang */
    border: 1px #000;
}

.button_ansog:hover {
    background-color: #000; /* Sort baggrund ved hover */
    color: #fff; /* Hvid tekst ved hover */
}

.button_link{
    SKAL LAVES TIL COMPONENT
}

.gron_box {
    /* position: absolute; */
    /* padding-right: 2rem;
    padding-left: 2rem; */
    width: auto;
    background:var(--green);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    /* padding-top: 4rem;
    padding-bottom: 2rem; */
}
.lort{
    line-height: 100px;
    font-size: 500px;
}
</style>