---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/general.css";
import Samarbejds from "../components/Samarbejds.astro";
---

<MainLayout>
<div class="forsidebillede_container">
        <img src="/forside.jpg" alt="forside billede" class="forsidebillede">
        <!-- <div class="forside_overskrift_container"> -->
        <h1 class="forside_overskrift">SUBURBANGIRLS</h1>
        <h1 class="forside_overskrift_skygge">SUBURBANGIRLS</h1>
    <!-- </div> -->
        <div class="tekst-overlay">
         <h2>KICKSTART DIN KARRIERE</h2>
    <p class="forside_pb">MED VORES TALENTFORLØB</p>
    <button class="button">Ansøg nu</button>
        </div>
</div>

    <div class="logo_container">
    <img class="logo" src="/svger/logo.svg" alt="logo" /></div>
    <p class="forside_p">SUBURBANGIRLS er et musikfællesskab, hvor du kan udvikle dine færdigheder og få indsigt i musikbranchen gennem møder med erfarne sangskrivere, producere og kunstnere. Her får du professionel vejledning og karriererådgivning fra brancheeksperter, samt muligheden for at opbygge et stærkt netværk af ligesindede kunstnere. SUBURBANGIRLS vil gerne ændre kønsbalancen i musikbranchen.</p>
    <img class="forsidebillede2" src="/ubg.webp" alt="billede af sub" />

    <video controls class="video">
        <source src="/promovideo.mp4" type="video/mp4">
    </video>


    <img class="pink-img" src="../paper-texture_pink_01.gif" alt="pink papir der er revet over" >    
    <div class="pink-container">
   
        <div class="hvid_box">
            <img class="tape tape1" src="../svger/tape.svg" alt="tape">
            <img class="tape tape2" src="../svger/tape.svg" alt="tape">
            <p><strong>ANSØGNINGSFRIST</strong><br>30. NOVEMBER 2023</p
                <button class="button_ansog">Ansøg nu</button>
    </div>

         <div class="hvid_box">
            <img class="tape tape1" src="../svger/tape.svg" alt="tape">
            <img class="tape tape2" src="../svger/tape.svg" alt="tape">
            <p>INFO-EVENT ONLINE<br>21. NOVEMBER KL. 19.00</p
            <button class="button_link">LINK</button>
        </div>


    </div>
    <img class="pink-img" src="../paper-texture_pink_03.gif" alt="pink papir der er revet over" >
  




<p class="lort">l</p>
</MainLayout>

<style>

    /* FORSIDE BILLEDE LAYOUT*/
.forsidebillede_container{
    display: grid;
    width: 100%;
    height: 43vh; /* Full viewport height mobile */
    overflow: hidden; /* Hide overflow */
}

/* Forside billedet */
.forsidebillede {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale and crop */
    object-position: 17% center;
}
/* Overskrifter */
.forside_overskrift_container{
    grid-column: 1;
    grid-row: 1;
}

.forside_overskrift, .forside_overskrift_skygge {
    font-size: 15vw;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin-top: -1vw;
}
.forside_overskrift{
    color: var(--pink);
    z-index: 1;
}
.forside_overskrift_skygge{
    color: white;
    margin-left: 1vw;
    margin-top: -1.2vw;
}

/* Tekst overlay */
.tekst-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: self-start;
    align-self: center;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 28vw;
    margin-left: 6vw;
}
.tekst-overlay h2{
    font-size: 4vw;
    margin-bottom: -1vw;
    color: white;
}

.forside_pb{
    margin-bottom: 1vw;
}

/********************************* */

/*KNAP*/
.button{
    border: solid;
    border-width: medium;
    border-radius: 10px;
    color: white;
    background-color: rgb(0 0 0 / 30%);
    transition: background-color 0.3s, color 0.3s;
    padding: 1.5vw 3vw;
    font-size: 16px;
    cursor: pointer;
    border-width: 0.8vw; /* Justér kantens tykkelse*/
}

/*****LOGO */
.logo_container{
display: flex;
justify-content: center;
margin-top: 1vw;
margin-bottom: 4vw;
}

.logo{
    scale: 0.9;
}

/*BILLEDER*/
.forsidebillede2 {
    object-fit: cover; /* Scale and crop */
    object-position: 80% center;
    width: 100%;
    height: 80vw;
    margin-top: -5vw;
}

/*LYSERRØD BOKS*/
.pink-img {
    width: 100%;
    height: auto;
  }
.pink-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--pink);
    margin-top: -1em;
  }





.forsidebillede3 {
    width: 100%;
    height: auto;
}
.forsidebillede4 {
    width: 100%;
    height: auto;
}


.forside_p{
margin-left: 10vw;
margin-right: 10vw;
margin-top: 3vw;
margin-bottom: 8vw;
}


.video {
    width: 100%; /* Gør videoen responsiv og fylder sin container */
    max-width: 800px; /* Sæt en maksimal bredde for videoen */
    height: auto; /* Behold den originale højde-bredde-forhold */
}


/***lyserød forside box */

.forside_box_container{
display: flex;
flex-direction: row;
position: absolute;
}
.hvid_box {
    position: relative;
    background-color: var(--green);
    color: white;
    padding: 2.5em;
    padding-bottom: 1em;
    transform: rotate(3deg);
    width: fit-content;
    margin: 2.5em;
}

.tape1 {
    top: -1em;
    left: -1em;
    transform: rotate(100deg);
  }

  .tape2 {
    top: -0.8em;
    right: -1em;
    transform: rotate(0deg);
  }



.button_ansog:hover {
    background-color: #000; /* Sort baggrund ved hover */
    color: #fff; /* Hvid tekst ved hover */
}

.button_link{
    SKAL LAVES TIL COMPONENT
}

.gron_box {
    /* position: absolute; */
    /* padding-right: 2rem;
    padding-left: 2rem; */
    width: auto;
    background:var(--green);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    /* padding-top: 4rem;
    padding-bottom: 2rem; */
}
.lort{
    font-size: 400px;
}
</style>