---
import "../styles/general.css";
const { text } = Astro.props;
---
<button class="button">{text}</button>

<style>
.button{
    border: solid;
    border-width: medium;
    border-radius: 10px;
    color: white;
    background-color: rgb(0 0 0 / 30%);
    transition: background-color 0.3s, color 0.3s;
    padding: 1.5vw 3vw;
    font-size: 16px;
    cursor: pointer;
    border-width: 0.8vw; /* Justér kantens tykkelse*/
}
</style>